<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table> 
   <tr> 
      <td colspan="2" align="center"> 
         <h3>Invoice</h3> 
      </td> 
   </tr> 
   <tr> 
       <td><b>Product name:</b></td> 
       <td>{{ product_name }}</td> 
   </tr> 
   <tr> 
       <td><b>Amount:</b></td> 
       <td>{{amount}}</td> 
   </tr> 
   <tr> 
       <td colspan="2" align="center"> 
          <br> 
          <input type="button" value="Index" onclick="window.location = '/';"> 
       </td> 
   </tr>         
</table> 
</body>
</html>