# db.sqlite3
# .venv
# __pycache__
# migrations


# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
staticfiles

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

